.download {
    color: $bg-blue;
}
.download-title {
    text-align: center;
    font-weight: 500;
    font-size: $_30px;
    color: $black;
    margin-bottom: 30px;
    @media (max-width: 500px) {
        font-size: 25px;
    }
}
.download-subtitle {
    margin-bottom: 48px;

    p {
        text-align: center;
        font-weight: 700;
        font-size: $_18px;
        line-height: 21px;
        color: $black;
        text-transform: uppercase;
        @media (max-width: 500px) {
            font-size: 16px;
        }
    }
}

.footer-button {
    @media (max-width: 500px) {
        height: 80px;
    }
    
}

