.footer {
    background-color: $bg-footer;
}
.footer-copyright {
    max-width: 370px;
    margin: auto;
    padding: 24px 0;
    @media (max-width: 500px) {
        max-width: 290px;
    }

    p {
        @include copyright;
    }
    span {
        color: $white;
    }
}
