.galery {
}
.galery-wrap {
    display: grid;
    // grid-template-columns: repeat(4, minmax(200px, 375px));
    // grid-template-columns: repeat(auto-fill, 375px);
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    column-gap: 4px;
    row-gap: 4px;
    text-align: center;
    align-items: center;
    @media (min-width: 1600px) {
        max-width: 1600px;
        margin: auto;
    }
    @media (max-width: 967px) {
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
        grid-template-rows: repeat(2, auto);
    }
    @media (max-width: 515px) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(2, auto);
    }
}
.galery-image {
    line-height: 0;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    @media (max-width: 1291px) {
        &:nth-last-child(-n + 2) {
            display: none;
        }
    }
    @media (max-width: 967px) {
    }
    @media (max-width: 515px) {
        &:nth-last-child(-n + 2) {
            display: block;
        }
        &:nth-child(even) {
            display: none;
        }
    }
    &::after {
        content: "";
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.2s ease-in;
        z-index: 40;
        background: rgba(255, 67, 67, 0.8);
    }
    &:hover::after {
        content: "";
        opacity: 1;
    }
    &:hover {
        transform: scale(1.02);
        .galery-image--hover {
            // display: block;
            opacity: 1;
            z-index: 50;
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }
}
.galery-image--hover {
    width: 183px;
    pointer-events: none;
    opacity: 0;
    transition: all 0.2s ease-in;
    // vertical-align: middle;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h3 {
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        color: $white;
        text-transform: uppercase;
        margin-bottom: 15px;
        @media (max-width: 400px) {
            font-size: 18px;
        }
    }
    span {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: $white;
        text-transform: capitalize;
        @media (max-width: 400px) {
            font-size: 14px;
        }
    }
}
