.info {
    background-color: $bg-blue;
    @media (max-width: 980px) {
        padding: 70px 0;
    }
}
.info-wrap {
    @include df_jc-sb_fw;
    column-gap: 20px;
    @media (max-width: 800px) {
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }
}
.info-card {
    max-width: 370px;
    @media (max-width: 980px) {
        max-width: 315px;
    }
}
.info-card--title {
    @include download-subtiitle;
    margin-bottom: 29px;
    color: $white;
    @media (max-width: 800px) {
    margin-bottom: 15px;

    }
    @media (max-width: 980px) {
        font-size: 14px;
    }
}
.info-card--subtitle {
    @include desc-desc;
    display: block;
    text-align: center;
    color: $white;
    text-transform: capitalize;
    @media (max-width: 980px) {
        font-size: 14px;
        line-height: 16px;
    }
}
.info-card--link {
    justify-content: center;
    column-gap: 10px;
}
