.main {
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    height: 100vh;
    padding: 35px 0;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: $main-mask;
    }
    @media (max-width: 768px) {
        padding: 20px 0;
    }
}

.navigation {
    margin-bottom: 130px;
    @media (max-width: 500px) {
        margin-bottom: 80px;
    }
    @media (max-height: 750px) {
        margin-bottom: 30px;
    }

    &::after {
        content: "";
        display: block;
        margin-top: 36px;
        max-width: 100%;
        height: 1px;
        background-color: $nav-bg;
        @media (max-width: 768px) {
            margin-top: 22px;
        }
    }
}

.navigation-wrap {
    @include df_jc-sb_fw;
    align-items: center;
    column-gap: 30px;
    position: relative;
}
.nav-burger {
    display: none;
    cursor: pointer;
    position: relative;
    &:hover {
        .navigation-list--burger {
            background-color: rgba(22, 27, 39, 0.753);
            position: absolute;
            display: block;
            top: 60px;
            left: -90px;
            padding: 20px;
        }
    }
    @media (max-width: 768px) {
        display: block;
        position: relative;
    }
}

.navigation-list {
    @include df_jc-sb_fw;
    gap: 50px;
    @media (max-width: 768px) {
        display: none;
    }
}
.navigation-list--item {
    position: relative;
    cursor: pointer;
    &:last-child {
        margin: 0;
    }
    @media (max-width: 768px) {
        cursor: default;
    }
    @media (max-width: 768px) {
        font-size: 15px;
        line-height: 0px;
        margin-bottom: 20px;
    }

    a {
        @include nav-list--item;
        & {
            transition: all 0.2s ease-in;
        }
        &:hover::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 3px;
            top: 305%;
            background-color: $nav-bg;
            transition: all 0.2s ease-in;
            @media (max-width: 768px) {
                display: none;
            }
        }
        &:active::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 3px;
            top: 305%;
            background-color: $nav-active;
            @media (max-width: 768px) {
                display: none;
            }
        }
        &:active {
            color: $nav-active;
            @media (max-width: 768px) {
                color: white;
            }
        }
    }
}
.main-title {
    @include main-title;
    transition: all 0.2s ease-in;
    margin-bottom: 35px;

    @media (max-height: 700px) {
        @media (max-width: 1100px) {
            font-size: 48px;
            line-height: 56px;
        }
    }

    @media (max-width: 768px) {
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 62px;
    }
    @media (max-width: 500px) {
        font-size: 40px;
    }
    @media (max-width: 320px) {
        font-size: 36px;
        line-height: 42px;
        width: 280px;
        margin: 0 auto 65px;
    }
}
.main-desc {
    margin: auto;
    max-width: 1000px;
    margin-bottom: 90px;
    @media (max-height: 700px) {
        @media (max-width: 600px) {
            margin-bottom: 40px;
        }
    }
    p {
        @include main-desc;
        @media (max-height: 700px) {
            @media (max-width: 1100px) {
                font-size: 18px;
                line-height: 21px;
            }
        }
        @media (max-width: 768px) {
            font-size: 18px;
            line-height: 21px;
        }
        @media (max-width: 320px) {
            font-size: 14px;
            line-height: 16px;
        }
    }
}
.main-button {
    @include button;
}
