.person-wrap {
    @include df_jc-sb_fw;
    flex-wrap: nowrap;
    column-gap: 20px;
    row-gap: 50px;
    @media (max-width: 1170px) {
        justify-content: space-evenly;
    }
    @media (max-width: 1170px) {
        flex-wrap: wrap;
    }
}
.person-card {
    display: flex;
    flex-direction: column;
    width: 270px;
    @media (max-width: 1170px) {
        width: 227px;
    }
    @media (max-width: 502px) {
        width: 280px;
    }
}
.person-card--img {
    margin-bottom: 30px;
    @media (max-width: 768px) {
        margin-bottom: 20px;
    }
    img {
        object-fit: cover;
        width: 100%;
    }
}
.person-card--name {
    @include person-card--name;
    margin-bottom: 6px;
    @media (max-width: 1000px) {
        font-size: 18px;
        line-height: 21px;
    }
    flex: 1 1 auto;
}
.person-card--job {
    margin-bottom: 20px;

    p {
        @include desc-desc;
        text-transform: uppercase;
        color: $red;
        @media (max-width: 1170px) {
            font-size: 16px;
        }
        @media (max-width: 1000px) {
            font-size: 14px;
            line-height: 16px;
        }
    }
    @media (max-width: 768px) {
        margin-bottom: 15px;
    }
}
.person-card--desc {
    margin-bottom: 48px;
    flex: 1 1 auto;
    @media (max-width: 768px) {
        margin-bottom: 28px;
    }
    p {
        @include desc-desc;
        @media (max-width: 1000px) {
            font-size: 14px;
            line-height: 16px;
        }
    }
}
.person-card--link {
    display: flex;
    column-gap: 6px;
    // padding-bottom: 2px;
}
.fa-brands {
    @include lin-brands;
}
