.slider-wrap {
    cursor: grab;
    &:active {
        cursor: grabbing;
    }
}

.swiper-wrapper {
    margin-bottom: 50px;
    @media (max-width: 500px) {
        margin-bottom: 40px;
    }
}

.slider-wrap:last-child {
    border: 3px solid black;
}

.slider-column {
    @include df_jc-sb_fw;
    overflow: hidden;
    @media (max-width: 980px) {
        flex-direction: column;
    }
}

.slider-image {
    width: 50%;
    @media (max-width: 980px) {
        width: 100%;
        margin-bottom: -4px;
    }
    img {
        @include img-cover;
        @media (max-width: 980px) {
            max-height: 348px;
        }
    }
}

.swiper-button-next,
.swiper-rtl,
.swiper-button-prev {
    color: $white;
    @media (max-width: 980px) {
        display: none;
    }
}

.slider-bg {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bord;
    @media (max-width: 980px) {
        width: 100%;
        padding: 60px 0;
    }
    @media (max-width: 500px) {
        padding: 30px 0 90px 0;
    }
}

.slider-bg--blue {
    background-color: $bg-footer;
}

.slider-info {
    max-width: 378px;
}

.slider-info--title {
    margin-bottom: 17px;
    @media (max-width: 500px) {
    }
    p {
        @include info-title;
        @media (max-width: 980px) {
            line-height: 39px;
        }
        @media (max-width: 500px) {
            font-size: 24px;
            text-align: center;
            padding: 0 17px;
        }
    }
}

.slider-info--subtitle {
    p {
        @include info-subtitle;
        @media (max-width: 500px) {
            font-size: $_13px;
            text-align: center;
        }
    }
}

.slider-nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    a {
        display: block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1px solid $bord;
        &:active {
            background-color: $bord;
        }
    }
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid $bord;
    width: 14px;
    height: 14px;
    // opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: $bord;
}
